* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #555;
}

#root {
  margin: 10px auto;
  width: 50%;
  background-color: #c3c3c3;
}

.display {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  color: #fff;
  background-color: #858694;
  padding-right: 2%;
  font-size: 2.6rem;
}

.button_panel {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 80px;
  grid-template-rows: 80px;
  gap: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.large-btn {
  grid-column: span 2;
}

.btn,
.large-btn {
  cursor: pointer;
  font-size: 2rem;
}

.btn:hover,
.large-btn:hover {
  -webkit-filter: contrast(0.75);
  filter: contrast(0.75);
}

.orange-bg {
  background-color: #f5913e;
}

.lg-bg {
  background-color: #e0e0e0;
}
